<% content_for :title, "Lookup users" %>
<% content_for :javascript, (javascript_include_tag asset_path('javascripts/custom.js')) %>
<%= content_for :stylesheet, (stylesheet_link_tag asset_path('stylesheets/template.css')) %>
<%= content_for :stylesheet, (stylesheet_link_tag asset_path('stylesheets/search.css')) %>
<% content_for :javascript, (javascript_include_tag asset_path('javascripts/searcher.js')) %>
<% content_for :javascript, (javascript_include_tag asset_path('javascripts/tabularResults.js')) %>
<%=render 'layouts/login_navbar' %>   

<!-- End Head Section --> 

<!-- Body Section Starts Here --> 




<div class="container"> 


<!--- page here -->

<div class="panel panel-default" >  
  <div class="panel-heading  text-center clearfix"> <span style="font-size:25px; line-height:30px;" class="text-center">  Select Your Search Criteria </span> 
<%= form_for :search, url: "user_search", method: :post, :html => {:id => "searchForm"} do |f| %>
  </div>
    <div class="panel-body">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading panel-heading-default">
             Affiliation 
            </div>
              <div class="panel-body panel-height-custom">
                <% User::AFFILIATIONS.each do |aff|%>
                    <div><%= check_box_tag "affiliations[]", aff %>
                    <%= f.label aff.titleize %></div>
                <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-default">
                    Instruments 
              </div>
                <div class="panel-body panel-height-custom">
                    <% @instruments.each do |ins| %>
                        <div><%= check_box_tag "instruments[]", ins.id %>
                        <%= f.label ins.name %></div>
                    <% end %>      
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-default">
                     Genre 
              </div>
                <div class="panel-body panel-height-custom">
                    <% @genres.each do |g| %>
                        <div><%= check_box_tag "genres[]", g.id %>
                        <%= f.label g.name %></div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-default">
                     Interests 
                </div>
                <div class="panel-body panel-height-custom">
                    <% @interests.each do |a| %>
                        <div><%= check_box_tag "interests[]", a.id %>
                        <%= f.label a.name %></div>
                    <% end %>
                </div>
            </div>
            
        </div>
        
        
    <div class="panel-footer text-right"> 
        <%= f.submit "Search", :class => "btn btn-md btn-danger ", :role => "button", :id => "searchButton"%>
    <% end %>
        <input type="submit" class="btn btn-md btn-danger " role="button" onClick="$('input:checkbox').removeAttr('checked');" value="Clear">
    </div>
                
    </div>
 
    </div> 

<!-- Page here --> 


<div class="text-center" hidden style="font-size:20px; padding:10px;  background-color:#999" id="resultsHeader">   Your Search Results   </div> 
  
  <div class="table-responsive" hidden id="resultsTableDiv">
    <table class="table" style="scroll" id="resultsTable">
        <thead>
            <tr>
              <th>###</th>
                <th>Name</th>
                <th>Email</th>
                <th>Instruments</th>   
            </tr>
        </thead>
        <tbody id="resultsBody">

        </tbody>
    </table>
  </div>
  
  
  
<!--   <div class="panel-footer text-right">
    <input type="submit" class="btn btn-md btn-danger " role="button" onClick="window.open('search-results.html')" value="Search">
  </div> -->
</div> 

</div>
</div>
    <%= javascript_tag " var searcher = new Searcher('result', 'searchForm', '/search/user_search', null, function(data) {
        if (data.status === 'SUCCESS') {
            $('#resultsHeader').show();
            $('#resultsTableDiv').show();
            fillResultsTable('resultsBody', 'resultsTable', data.data);
        } else {
            $('#resultsBody').empty();
            $('#resultsHeader').hide();
            $('#resultsTableDiv').hide();
            console.log(data.message);
        }
    });
        searcher.submitForm();

    "%>
<!-- Body Section Ends Here --> 



<!-- Footer Section Starts Here --> 
<div class="container-fluid"> 
<div class="row">
<div class="col-lg-12 text-center"  style="height:50px; background-color:#eb6864; padding-top:15px;"> &copy; All Rights Reserved @ MUSICONNECT - 2015 </div>
</div>
</div>
<!-- Footer Section Ends Here --> 
                                 