<% content_for :title, "Lookup users" %>
<%= content_for :stylesheet, (stylesheet_link_tag asset_path('stylesheets/template.css')) %>
<%= content_for :stylesheet, (stylesheet_link_tag asset_path('stylesheets/search.css')) %>
<% content_for :javascript, (javascript_include_tag asset_path('javascripts/searcher.js')) %>
<% content_for :javascript, (javascript_include_tag asset_path('javascripts/tabularResults.js')) %>
<% content_for :javascript, (javascript_include_tag asset_path('javascripts/custom.js')) %>
<%=render 'layouts/login_navbar' %>   

<!-- End Head Section --> 

<!-- Body Section Starts Here --> 




<div class="container"> 


<!--- page here -->

<div class="panel panel-default" > 
    <p style="padding:20px 0px 20px 0px;" class="text-center text-danger" id="errorMessage"><p> 
        <div class="panel-heading  text-center clearfix"> <span style="font-size:25px; line-height:30px;" class="text-center">  Select Your Search Criteria </span> 
        <%= form_for :search, url: "user_search", method: :post, :html => {:id => "searchForm"} do |f| %>
          </div>
            <div class="panel-body">
                <div class="col-md-3">
                    
                  <div class="panel panel-default">
                    <div class="panel-heading panel-heading-default">
                     Affiliation 
                         <div class="pull-right">
                            <button type="button" onClick="$('.affiliationBox').removeAttr('checked');" class="btn btn-default btn-md">
                              <span class="glyphicon glyphicon-minus"  aria-hidden="true"></span> Clear
                            </button>
                        </div>
                    </div>
                      <div class="panel-body panel-height-custom">
                        <% User::AFFILIATIONS.each do |aff|%>
                            <div style="width:500px"><%= check_box_tag "affiliations[]", aff, false, :class => "affiliationBox" %>
                            <%= f.label aff.titleize %></div>
                        <% end %>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-default">
                            Instruments 
                            <div class="pull-right">
                                <button type="button" onClick="$('.instrumentBox').removeAttr('checked');" class="btn btn-default btn-md">
                                    <span class="glyphicon glyphicon-minus"  aria-hidden="true"></span> Clear
                                </button>
                            </div>
                      </div>
                        <div class="panel-body panel-height-custom">
                            <% @instruments.each do |ins| %>
                                <div style="width:500px"><%= check_box_tag "instruments[]", ins.id, false, :class => "instrumentBox" %>
                                <%= f.label ins.name %></div>
                            <% end %>      
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-default">
                             Genre 
                             <div class="pull-right">
                                <button type="button" onClick="$('.genreBox').removeAttr('checked');" class="btn btn-default btn-md">
                                  <span class="glyphicon glyphicon-minus"  aria-hidden="true"></span> Clear
                                </button>
                            </div>
                      </div>
                        <div class="panel-body panel-height-custom">
                            <% @genres.each do |g| %>
                                <div style="width:500px"><%= check_box_tag "genres[]", g.id, false, :class => "genreBox" %>
                                <%= f.label g.name %></div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" >
                      
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-default">
                             Musical Interests 
                             <div class="pull-right">
                                <button type="button" onClick="$('.interestBox').removeAttr('checked');" class="btn btn-default btn-md">
                                  <span class="glyphicon glyphicon-minus"  aria-hidden="true"></span> Clear
                                </button>
                            </div>
                        </div>
                        <div class="panel-body panel-height-custom">
                            <% @interests.each do |i| %>
                                <div style="width:500px"><%= check_box_tag "interests[]", i.id, false, :class => "interestBox" %>
                                <%= f.label i.name %></div>
                            <% end %>
                        </div>
                    </div>

                </div>
            <div class="panel-footer text-right"> 
                <%= f.submit "Search", :class => "btn btn-md btn-danger ", :role => "button", :id => "searchButton"%>
            <% end %>
                <input type="submit" class="btn btn-md btn-danger " role="button" onClick="$('input:checkbox').removeAttr('checked');" value="Clear">
            </div>
                        
            </div>
         
            </div> 

<!-- Page here --> 




    <div class="panel panel-default" id="resultsTableDiv" hidden>
        <div class="panel-heading text-center panel-heading-lg" id="resultsHeader">
           
            Your Search Results
           
        </div>
        <table  class="table table-fixed table-hover table-striped" id="resultsTable">
          <thead>
            <tr>
              <th class="col-lg-1">###</th>
              <th class="col-lg-3">Name</th>
              <th class="col-lg-3">Email</th>
              <th class="col-lg-5">Instruments</th>
            </tr>
          </thead>
          
          <tbody id="resultsBody">
            <!-- Results Filled in here via AJAX call to '/search/user_search' API -->
          </tbody>
        </table>
      </div>
  
  
  
<!--   <div class="panel-footer text-right">
    <input type="submit" class="btn btn-md btn-danger " role="button" onClick="window.open('search-results.html')" value="Search">
  </div> -->
</div> 

</div>
</div>
    <%= javascript_tag " var searcher = new Searcher('result', 'searchForm', '/search/user_search', null, function(data) {
        if (data.status === 'SUCCESS') {
            $('#resultsTableDiv').show();
            $('p#errorMessage').text('');
            fillResultsTable('resultsBody', 'resultsTable', data.data);
        } else {
            $('#resultsBody').empty();
            $('#resultsTableDiv').hide();
            console.log(data.message); 
            $('p#errorMessage').text(data.message);
        }
    });
        searcher.submitForm();

    "%>
<!-- Body Section Ends Here --> 



<!-- Footer Section Starts Here --> 
<%= render 'layouts/footer' %>
<!-- Footer Section Ends Here --> 
                                 