<% content_for :stylesheet, (stylesheet_link_tag asset_path('stylesheets/users.css')) %>
<% content_for :stylesheet, (stylesheet_link_tag asset_path('stylesheets/template.css')) %>
<% content_for :javascript, (javascript_include_tag asset_path('javascripts/utils.js')) %>
<% content_for :stylesheet, (stylesheet_link_tag asset_path('stylesheets/custom.css')) %>
<% content_for :title, "Change Password" %>

<%=render 'layouts/login_navbar' %> 
<%=render 'layouts/login_modal' %> 

<div class="container" style=" margin-top:20px;"> 
    <div class="row"> 
        <div class="col-lg-12"> 
            <div class="panel panel-default"> 
                <p style="padding:20px 0px 20px 0px;" class="text-center text-danger"> 
                  <% if flash[:error_messages] != nil %>
                    <% flash[:error_messages].each do |msg| %>
                      <%= msg %>
                    <% end %>
                  <% end %>
                  <% if flash[:err] != nil %>
                    <%= flash[:err] %>
                  <% end %>    
                </p>
                <div class="panel-heading text-center">  <span style="font-size:25px; line-height:30px;" class="text-center">
                    Reset Password
                </div>
                <div class="panel-body"> 
                    <div class="col-lg-12" >
                        <%= form_tag "post_change_password", :html => {:class => "form-horizontal", :role => "form", :style => "padding-left:20px; padding-right:20px;"} do |f|%>
                              <div class="form-group">
                                <label class="col-sm-4 control-label">Old Password</label>
                                <div col-sm-8>
                                  <%= password_field_tag :old_password %>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-sm-4 control-label">New Password</label>
                                <div col-sm-8>
                                  <%= password_field_tag :new_password %>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-sm-4 control-label">New Password Confirmation</label>
                                <div col-sm-8>
                                  <%= password_field_tag :new_password_confirmation %>
                                </div>
                              </div>
                              <div class="panel-footer text-right"> <%= submit_tag("Change Password", :class => "btn btn-lg btn-danger", :role => "button") %></div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%=render 'layouts/footer' %> 