<%= content_for :stylesheet, (stylesheet_link_tag asset_path('stylesheets/template.css')) %>
<%= content_for :stylesheet, (stylesheet_link_tag asset_path('stylesheets/custom.css')) %>
<%= content_for :stylesheet, (stylesheet_link_tag asset_path('stylesheets/users.css')) %>
<% content_for :javascript, (javascript_include_tag asset_path('javascripts/searcher.js')) %>
<% content_for :title, "Display Profile" %>

<% if session[:curr_user_id] == @user.id %>
  <%= render 'layouts/login_navbar' %>
<% end %>
<!-- Body Section Starts Here --> 



<div class="container" style=" margin-top:20px;"> 



<div class="row"> 
<div class="col-lg-12"> 

<!--- page here -->

<div class="panel panel-default">  
  <div class="panel-heading text-center">  <span style="font-size:25px; line-height:30px;" class="text-center"> <%= session[:curr_user_id] == @user.id ? "My Profile" : "Profile" %> </span>
    <%  if session[:curr_user_id] == @user.id %>
      <div class="pull-right">
        <button type="button" onClick="location.href='/users/edit_profile';" class="btn btn-default btn-md">
          <span class="glyphicon glyphicon-edit"  aria-hidden="true"></span> Edit
        </button>

      </div>
    <% else %>
      <div class="pull-right">
        <button type="button" onClick="self.close();" class="btn btn-default btn-danger">
          <span class="glyphicon glyphicon-remove"  aria-hidden="true"></span> Close
        </button>

      </div>
    <% end %>
  
    </div>
  
  
<div class="panel-body"> 
   <div class="col-lg-3" > 
    <div id="photo_section"></div>
      <%= javascript_tag "
      var callback = function(user) {
        var file_name = user.photo_file_name == null ? '" + asset_path('images/default.png') + "' : '" + asset_path(@user.photo_file_name) + "';
        var newImg = document.createElement('img');
        newImg.src = file_name;
        newImg.setAttribute('id', 'profile_picture');
        document.getElementById('photo_section').appendChild(newImg);
      }
      "%>
      <%= javascript_tag "
        var searcher = new Searcher('photo_section', null, '/users/get_picture/', \"" + @user.id.to_s  + "\", callback);
        searcher.search();
      "%>  
   </div>
   
   <div class="col-lg-3" > 
   <p class="profile-title"><%= @user.first_name + " " + @user.last_name %></p>
   <p class="profile-sub-title"> <span class="glyphicon glyphicon-envelope" > </span> <%= @user.email_address %></p>
   <p class="profile-sub-title"> <span class="glyphicon glyphicon-comment" > </span> <%= @user.affiliation %></p> 
   </div>
   
   <div class="col-lg-2" >
   </div>
   
   <div class="col-lg-4 " >
   <div class="panel panel-default">
          <div class="panel-heading"><strong>
             MusiConnect Headline
            </strong></div>
          <div class="panel-body ">
            <p><%= @user.description %></p>
          </div>
        </div>
   
   </div>
 
 
</div>

<div class="panel-body">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-default">
           Instrument - Level
        </div>
        <div class="panel-body panel-height-custom">
          <% @instruments.each do |ins| %>
            <div><%= ins + " - " + @instrumentLevelHash[ins.to_sym] %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-default">
          Genres
        </div>
        <div class="panel-body panel-height-custom">
          <% @user.genres.each do |genre|%>
              <div><%= genre.name %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-default">
           Activities 
        </div>
        <div class="panel-body panel-height-custom">
          <% @user.activities.each do |activity| %>
              <div><%= activity.name %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3" >
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-default">Interests</div>
        <div class="panel-body panel-height-custom">
          <% @user.interests.each do |interest|%>
              <div><%= interest.name %></div>
          <% end %>  
        </div>
      </div>
            
    </div>
        
        
        
        
  </div>

  


  
  
  <!--<div class="panel-footer text-right">   <input type="submit" class="btn btn-md btn-danger " role="button" onClick="window.open('index.html')" value="Save"> <input type="submit" class="btn btn-md btn-danger " role="button" onClick="window.open('index.html')" value="Cancel"></div>-->
</div> 


<!-- Page here --> 





</div>
</div>
</div>

<!-- Body Section Ends Here --> 



<!-- Footer Section Starts Here --> 
<%= render 'layouts/footer' %>
<!-- Footer Section Ends Here --> 




  
    


    
</body>
</html>                                   