<% content_for :title, "Display Profile" %>
<% content_for :stylesheet, (stylesheet_link_tag "users") %>
<%= javascript_include_tag "searcher" %>
<%= javascript_include_tag "photoHelper" %>
<% if session[:curr_user_id] != nil %>
    <ul class="nav nav-tabs" role="tablist">
      <li><%= link_to('Search', controller: "search", action: "lookup") %></li>
      <% if @id == nil %>
        <li class="active"><%= link_to('My Profile', controller: "users", action: "display_profile", id: session[:curr_user_id]) %></li>
      <% else %>
        <li><%= link_to('My Profile', controller: "users", action: "display_profile", id: session[:curr_user_id]) %></li>
      <% end %>
      <li><%= link_to('Edit Profile', controller: "users", action: "edit_profile") %></li>
      <li><%= link_to('Logout', controller: "users", action: "logout") %></li>
    </ul>
<% end %>
<% name = @user.first_name + " " + @user.last_name %>
<h2><%= ERB::Util::html_escape(name) %></h2>
<% photo_file_name = @user.photo_file_name == nil ? "/assets/default.png" : @user.photo_file_name %>
<div id="photo_section"></div>
<%= javascript_tag "
  var photoHelp = new PhotoHelper();
"%>
<%= javascript_tag "
var callback = function(user) {
  var file_name = user.photo_file_name == null ? 'default.png' : user.photo_file_name;
  var newImg = document.createElement('img');
  newImg.src = '/assets/' + file_name;
  newImg.setAttribute('id', 'profile_picture');
  document.getElementById('photo_section').appendChild(newImg);
}
"%>
<%= javascript_tag "
  var searcher = new Searcher('photo_section', null, '/users/get_picture/', \"" + @user.id.to_s  + "\", callback);
  searcher.search();
"%>
<br/>
<% @user.instruments.each do |instrument|%>
    <div><%= instrument.name %></div>
<% end %>
<% @user.genres.each do |genre|%>
    <div><%= genre.name %></div>
<% end %>
<% @user.activities.each do |activity| %>
    <div><%= activity.name %></div>
<% end %>
<% @user.interests.each do |interest|%>
    <div><%= interest.name %></div>
<% end %>
<div><%= @user.level_anchor %></div>
<div><%= ERB::Util::html_escape(@user.description) %></div>