<% content_for :stylesheet, (stylesheet_link_tag asset_path('stylesheets/users.css')) %>
<% content_for :stylesheet, (stylesheet_link_tag asset_path('stylesheets/template.css')) %>
<% content_for :javascript, (javascript_include_tag asset_path('javascripts/utils.js')) %>
<% content_for :javascript, (javascript_include_tag asset_path('javascripts/searcher.js')) %>
<% content_for :javascript, (javascript_include_tag asset_path('javascripts/custom.js')) %>
<% content_for :stylesheet, (stylesheet_link_tag asset_path('stylesheets/custom.css')) %>
<% content_for :title, "Edit Profile" %>

<%=render 'layouts/login_navbar'%>   

<!-- End Head Section --> 

<!-- Body Section Starts Here --> 

<div class="container" style=" margin-top:20px;"> 

<div class="row text-center  text-danger" id="error-message" style="padding-bottom:15px;">
  <% unless flash[:error_messages] == nil %>
    <% flash[:error_messages].each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>
</div> 

<div class="row"> 
<div class="col-lg-12"> 

<!--- page here -->

<div class="panel panel-default">  
  <div class="panel-heading text-center">  <span style="font-size:25px; line-height:30px;" class="text-center"> Edit My Profile  </span>
    <!--<div class="pull-right">
        <button type="button" onClick="window.open('edit-my-profile.html')" class="btn btn-default btn-md">
  <span class="glyphicon glyphicon-edit"  aria-hidden="true"></span> Edit
</button>
      </div>-->
  
     </div>
  
  
<div class="panel-body"> 

<div class="col-lg-3" id="photo_section"> 
    <%= javascript_tag "
    var callback = function(user) {
      var file_name = user.photo_file_name == null ? '" + asset_path('images/default.png') + "' : '" + asset_path(@user.photo_file_name) + "';
      var newImg = document.createElement('img');
      newImg.src = file_name;
      newImg.setAttribute('id', 'profile_picture');
      document.getElementById('photo_section').appendChild(newImg);
    }
    "%>
    <%= javascript_tag "
      var searcher = new Searcher('photo_section', null, '/users/get_picture/', \"" + @user.id.to_s  + "\", callback);
      searcher.search();
    "%> 
 </div>
  
  <%= form_for @user, url: "update_profile", method: :update, :html => {:id => "editProfileForm"} do |f| %>
 <div class="col-lg-3" > 
   <p class="profile-title"><%= @user.first_name + " " + @user.last_name %></p>
   <p class="profile-sub-title"> <span class="glyphicon glyphicon-envelope" > </span> <%= @user.email_address %></p>
   <p class="profile-sub-title"> <span class="glyphicon glyphicon-comment" > </span> <%= @user.affiliation %></p> 
   </div>
 
 <div class="col-lg-2" > 
 </div>
 
 <div class="col-lg-4 " >
 <div class="panel panel-default">
        <div class="panel-heading">
        <strong>MusiConnect Headline</strong> </div>
        <div class="panel-body ">
          <%= f.text_area(:description, rows: 5, :id => "comment") %>
        </div>
      </div>
 
 </div>
 
</div>



<div class="panel-body">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-default">
           Instruments 
        </div>
        <div class="panel-body panel-height-custom">
        <% @instruments.each do |ins| %>
          <div style="width:500px"><%= check_box_tag "instruments[]", ins.id, (@user.instruments.include? ins), :id => "instrument" + ins.id.to_s %>
          <%= f.label ins.name %>
          <%= select_tag(("level_for_ins" + ins.id.to_s).to_sym, options_for_select(InstrumentSkill::LEVEL_ANCHORS, @instrumentLevelHash[ins.id.to_s.to_sym]), :hidden => (!@user.instruments.include? ins), :id => "level_selector" + ins.id.to_s) %></div>
          <%= javascript_tag "
              $('#instrument" + ins.id.to_s + "').click(function() {
                  $('#level_selector" + ins.id.to_s + "')[this.checked ? 'show' : 'hide']();
              });
          "%>
      <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-default">
          Genres
        </div>
        <div class="panel-body panel-height-custom">
        <% @genres.each do |g| %>
        <div id="genre<%=g.id%>"><%= check_box_tag "genres[]", g.id, (@user.genres.include? g) %>
        <%= f.label g.name %></div>
        <% end %>
          
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-default">
           Activities 
        </div>
        <div class="panel-body panel-height-custom">
        <% @activities.each do |a| %>
          <div id="activity<%=a.id%>" style="width:500px"><%= check_box_tag "activities[]", a.id, (@user.activities.include? a) %>
          <%= f.label a.name %></div>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3" >
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-default">
           Interests 
        </div>
        <div class="panel-body panel-height-custom">
          <% @interests.each do |i| %>
            <div id="interest<%=i.id%>"><%= check_box_tag "interests[]", i.id, (@user.interests.include? i) %>
            <%= f.label i.name %></div>
          <% end %>
        </div>
      </div>
            
    </div>
        
        
  </div>

  <div class="panel-body">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-default">
           Other Instrument Info
        </div>
        <div class="panel-body panel-height-custom">
          <%= f.text_area(:instrument_info, rows: 5, :id => "comment") %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-default">
          Other Genre Info
        </div>
        <div class="panel-body panel-height-custom">
          <%= f.text_area(:genre_info, rows: 5, :id => "comment") %>
          
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-default">
           Other Activities
        </div>
        <div class="panel-body panel-height-custom">
          <%= f.text_area(:activity_info, rows: 5, :id => "comment") %>
        </div>
      </div>
    </div>
    <div class="col-md-3" >
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-default">
           Other Interests
        </div>
        <div class="panel-body panel-height-custom">
          <%= f.text_area(:interest_info, rows: 5, :id => "comment") %>
        </div>
      </div>
            
    </div>
        
        
  </div>


  
  
   <div class="panel-footer text-right">
   <%= f.submit "Update Profile", :class => "btn btn-md btn-danger ", :role => "button", :id => 'submitButton' %> 
 
<% end %>
<input type="submit" class="btn btn-md btn-danger " role="button" onClick="window.location.href='/users/display_profile';" value="Cancel"></div> 

<!-- Page here --> 

</div>



</div>
</div>
</div>

<%= javascript_tag "
  $('#editProfileForm').data('serialize',$('#editProfileForm').serialize()); // On load save form current state

  var checkFormChange = function(e){
      if($('#editProfileForm').serialize()!=$('#editProfileForm').data('serialize'))return 'Form changes detected.';
      else e=null; // i.e; if form state change show warning box, else don't show it.
  };

  $(window).bind('beforeunload', checkFormChange);

  $('#submitButton').on('click', function() {
    $(window).unbind('beforeunload', checkFormChange);
  });
"%>

<!-- Body Section Ends Here --> 



<!-- Footer Section Starts Here --> 
<%= render 'layouts/footer' %>
<!-- Footer Section Ends Here --> 
                                 