<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Stanford Musiconnect</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<% content_for :title, "Stanford Musiconnect" %>
<link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700|Josefin+Slab|Droid+Serif|Roboto+Slab' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src ="https://s3-us-west-2.amazonaws.com/musiconnect-resources/javascripts/utils.js"></script>


</head>

<body style="background-color:#000;">

<%=render 'layouts/not_loggedin_navbar' %>   

<!-- End Head Section --> 

<!-- Body Section Starts Here --> 

<div style="background-image:url(<%= asset_path('images/home-bg.jpg')%>); background-repeat: no-repeat; background-size: 100% auto;" class="container"> 
<div class="row" style="margin-top:100px;"> 
<div class="col-sm-12 text-center" style="font-family: 'Dancing Script', cursive; color:#bd2031; font-size:55px;"> Stanford Musiconnect</div>
</div>



<div class="row text-center" style="padding-top:100px; "> 
<div class="col-sm-1 ">  </div>
<div class="col-sm-10 text-center" style="font-size:35px; padding-top:10px; padding-bottom:10px;   -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color: rgba(245, 245, 245, 0.9);  font-family: 'Josefin Slab', serif; color:#000; " > Your resource to connect you with musicians just like you!</div>
<div class="col-sm-1"> </div>
</div>


<div style="padding-top:100px; padding-bottom:100px;"  class="row"> 
<div class="col-lg-12 text-center">    
<button type="submit" onclick="window.location.href='/users/new'"  style="padding:20px; font-size:25px; font-weight:500;" class="btn btn-lg btn-danger " >Get Connected</button>     
</div>
</div>


<div class="row" style="background-color:#000; padding:10px;" > 
<div class="col-sm-5"> </div> 
<div  class="col-sm-2 text-right"><button type="button" onclick="window.location.href='#contact-us'"   class="btn btn-default">Contact Us</button> </div> 
<div class="col-sm-5"> </div> 
</div>

<div class="row" style="height:2px; background-color:#666; margin-top:35px;"> </div>

<div class="row" style="margin-top:40px;">
<a name="about-us"></a>
  
<!-- <div class="col-md-5" > <img class="img-responsive" src="<%= asset_path('images/musi-man.png') %>" ></div>
<div class="col-md-7 text-center"> <h3 style="color:#666; font-family: 'Josefin Slab', serif; font-size:30px; "> About Us </h3> <br> 

<p class="text-justify" style="color:#666; line-height:30px; font-size:15px; font-family: 'Roboto Slab', serif;"> 
To fill in.

</p>
 </div>

</div> -->

<div class="row" style="height:2px; background-color:#666; margin-top:35px;"> </div>

<div class="row">
<a name="contact-us"> </a>
<!--<div class="col-lg-12"> -->

<span class="text-center"> <h3 style="color:#666; font-family: 'Josefin Slab', serif; font-size:30px; "> Let's Connect!</h3>  </span>

<span class="text-center"><p style="color:#666; line-height:30px; font-size:15px; font-family: 'Roboto Slab', serif;">Ready to connect with other musicians? </p> </span>

<div class="text-left col-lg-3"> 
<address style="color:#666; line-height:30px; font-size:15px; font-family: 'Roboto Slab', serif;">  <strong>  <span class="glyphicon glyphicon-user"  ></span> Diveesh Singh<br>
</strong><span class="glyphicon glyphicon-phone"  ></span>(408) 966-4100  <br/>
   <span class="glyphicon glyphicon-envelope"  ></span>  <a style="color:#bd2031" href="mailto:diveesh@gmail.com">diveesh@gmail.com</a>
</address>
</div>
<div class="text-right col-lg-6"> 
</div>

<div class=" col-lg-3"> 

<address style="color:#666; line-height:30px; font-size:15px; font-family: 'Roboto Slab', serif;">  <strong>  <span class="glyphicon glyphicon-user"  ></span> Jacqueline Genovese<br>
</strong>
   <span class="glyphicon glyphicon-envelope"  ></span>  <a style="color:#bd2031" href="mailto:jmgeno@stanford.edu">jmgeno@stanford.edu</a>
</address>

  </div>
<!--</div>-->



<div class="col-lg-12">  <img class="img-responsive" src="<%= asset_path('images/footer-banner.jpg') %>" width="1920" height="455"></div> 

</div>



</div>

<!-- Body Section Ends Here --> 



<!-- Footer Section Starts Here --> 
<div class="container-fluid"> 
    <div class="row">
        <div class="col-lg-12 text-center"  style="height:50px; background-color:#bd2031; padding-top:15px;"> &copy; All Rights Reserved @ Stanford Medicine Music Network - 2015 </div>
    </div>
</div>
<!-- Footer Section Ends Here --> 




    <!-- Pop up Login Panel Starts Here  -->
    
<%=render 'layouts/login_modal' %>  
    <!-- Pop up Login Panel Ends Here  -->
        


        
</body>
</html>                                     